
:root {
    --foreground-color: white;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .mainarea{min-height: 100vh;
    background: linear-gradient(322deg, #ba4aff, rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #008aff, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #00ffc6, rgba(0, 255, 198, 0) 35%);overflow: hidden;
  }
  
.logosection{width:100%; text-align: center; display: flex; flex-direction: column; justify-content:center;align-items: center; padding:50px 0 50px;}
.logosection .logo{transition: all ease-in-out 0.5s;cursor: pointer; position: relative;
}

.logo:hover {
  transform: translateY(-5%);
 }
 .logo:hover .logo-shadow{
  opacity: 1;
 }

.logo-shadow{
  margin-top: 10px;
    height: 15px;
    width: 15%;
    text-align: center;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .ruler {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    top:65%;
    height: 100vh;
    left: 0%;
    right: 0%;
  }
  .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 20px 0;
  }
  .container h1{color:#fff; text-transform: uppercase;
    margin-bottom: 20px;margin-top:20px;  text-align: center;}

  .container .icon {
    --size:10rem;
    --transition-duration: 500ms;
    --transition-easing: ease-out;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--foreground-color);
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-duration) var(--transition-easing);
    overflow: hidden;
  }
  .container .icon::before {
    content: "";
    background: rgba(255, 255, 255, 0.4);
    width: 60%;
    height: 100%;
    top: 0%;
    left: -125%;
    transform: skew(45deg);
    position: absolute;
    transition: left var(--transition-duration) var(--transition-easing);
  }
  .container .icon:hover {
    transform: translateY(-25%);
  }
  .container .icon:hover::before {
    left: 150%;
  }
  .footer{position: absolute; z-index: 1; text-align: center; width: 100%; padding: 20px 0; color:#585858;}
  .footer a{
    text-decoration: none;
    color:#585858;
  }







  @media (300px <= width <= 800px){
    .container .row {
      display: flex;
     flex-direction: column;
     align-items: center;
      }

  }